doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Zoom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header
      h1 Zoom
    main
      div#welcome
        form
          input#roomName(placeholder="room name", required ,type="text")
          input#userName(placeholder="nickname", required, type="text")
          button Enter room
        h4 Open Rooms:
        ul
      div#call
        div#myStream
          video#myFace(autoplay,playsinline, width="400", height="400")
          button#mute Mute
          button#camera Turn Camera Off
          select#cameras
          video#peersFace(autoplay,playsinline, width="400", height="400")
      div#room
        ul
        h3
        form#msg
          input(placeholder="message", required, type="text")
          button Send

    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
